{{ $stages := partials.IncludeCached "data/stages" page }}
{{ $stages = sort $stages "section" }}
<table>
	<thead>
		<tr>
			<th>Section</th>
			<th>Stage</th>
			<th>Group</th>
			<th>Assigned technical writer</th>
		</tr>
	</thead>
	<tbody>
		{{- range $stages }}
		{{- $section := .section }}
		{{- $display_name := .display_name}}
		{{- range .groups }}
		<tr>
			<td><a href="{{ ref page (printf "/handbook/product/categories#%s-section" $section) }}">{{ $section }}</a></td>
			<td><a href="{{ ref page (printf "/handbook/product/categories#%s-stage" (lower $display_name)) }}">{{ $display_name }}</a></td>
			<td><a href="{{ ref page (printf "/handbook/product/categories#%s-group" (anchorize .name)) }}">{{ .name }}</a></td>
			<td>
				{{- with .tech_writer -}}
					{{- if reflect.IsSlice . -}}
						{{- range . -}}
							{{- if hasPrefix . "#" -}}
								<img src="/images/slack-mark.png" style="padding:4px" alt="Slack Logo" class="avatar" height="40" width="40"> {{ . }}
							{{- else -}}
								{{- partial "member-by-name" . }}<br>
							{{- end -}}
						{{- end -}}
					{{- else -}}
						{{- if hasPrefix . "#" }}
							<img src="/images/slack-mark.png" style="padding:4px" alt="Slack Logo" class="avatar" height="40" width="40"> {{ . }}
						{{- else }}
							{{- partial "member-by-name" . }}
						{{- end }}
					{{- end }}
				{{- end }}
			</td>
		</tr>
		{{- end }}
		{{- end }}
	</tbody>
</table>

<style>
	img.avatar {
	width: 30px;
	height: 30px;
	max-width: 30px;
	max-height: 30px;
	overflow: hidden;
	margin-right: 10px;
	border-radius: 50%;
	border: 1px solid lightgray;
	aspect-ratio: auto 90 / 90;
	overflow-clip-margin: content-box;
	margin-top: 3px;
	margin-bottom: 3px
	}
</style>
